<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- LoginDao 인터페이스 userMapper.xml을 연결시켜 주는 역할 -->
	<mapper	namespace="com.javalab.dao.LoginDao">
	
	<select id="getUserById" parameterType="UserVo" resultType="UserVo">
		SELECT * 
		FROM USER_TBL 
		WHERE ID=#{id} 
		AND PWD=#{pwd}
	</select>

</mapper>